.container {
    margin: 0 auto;
    max-width: 1000px;
}
.group-start {
    font-family: "Fredericka the Great", serif;
    font-size: 50px;
    text-decoration: underline;
}
.headline {
    font-family: "Fredericka the Great", serif;
    font-size: 35px;
}
.topper-container {
    position: relative;
    text-align: center;
}
.topper-image {
    width: 100%;
}
.overlay {
    position: absolute;
    width: 80%;
    top: 65%;
    left: 10%;
    background-color: black;
    opacity: .9;
    font-family: "Fredericka the Great", serif;
    font-size: 50px;
    color:white;
}
.navbar {
    position: sticky;
    top: 0;
    max-width: 90%;
    margin:auto;
}
#scrollspyHeading2 {
    color:#012169
}
#scrollspyHeading3 {
    color:#fa4616
}
#scrollspyHeading4 {
    color:#582d83
}
#scrollspyHeading5 {
    color:#f47321
}
#scrollspyHeading6 {
    color:#0c2340
}
#scrollspyHeading7 {
    color:#841617
}
#scrollspyHeading8 {
    color:#007030
}
#scrollspyHeading9 {
    color:#4d1979
}
#scrollspyHeading10 {
    color:#cc0000
}
#scrollspyHeading11 {
    color:#ffcc00
}
#scrollspyHeading12 {
    color:#232d4b
}
#scrollspyHeading13 {
    color:#6a2c3e
}
#scrollspyHeading14 {
    color:#4b2e83
}
#scrollspyHeading15 {
    color:#a60f2d
}
#scrollspyHeading16 {
    color:#041e42
}
#scrollspyHeading17 {
    color:#205531
}
#scrollspyHeading18 {
    color:#081e3f
}
#scrollspyHeading19 {
    color:#b1102b
}
#scrollspyHeading20 {
    color:#041e42
}
#scrollspyHeading21 {
    color:#024731
}
#scrollspyHeading22 {
    color:#ce181e
}
#scrollspyHeading23 {
    color:#003087
}
#scrollspyHeading24 {
    color:#041e42
}
#scrollspyHeading25 {
    color:#8c0b42
}
#scrollspyHeading26 {
    color:#354ca1
}
#scrollspyHeading27 {
    color:#a32036
}
#scrollspyHeading28 {
    color:#8b2232
}
#scrollspyHeading29 {
    color:#000e2f
}
#scrollspyHeading30 {
    color:#97182f
}

.bold {
    font-weight: bold;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
}
#footer {
    background-color: #212529;
    height: 150px;
}
.end {
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 55px;
}