.container {
    margin: 0 auto;
    max-width: 1200px;
}
#headline {
    text-align: center;
    padding-top: 20px;
    font-size: 75px;
}
#byline {
    text-align: center;
    font-size: 20px;
    color:gray;
}
.chapter {
    padding-top: 75px;
    font-size: 35px;
}
.story {
    padding-top: 20px;
    font-size: 15px;
}
img {
    width: 75%;
    display:block;
    margin: 0 auto;
    padding-top: 20px;
}
.caption {
    margin: 0 150px;
    font-size: 15px;
    color:gray;
}
.column {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
#footer {
    background-color: #212529;
    height: 150px;
}
.end {
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 55px;
}