body {
    background-color: #f4e9d3;
}
.header {
    width: 500px;
    display: block;
    transform: scaleX(-1);
    margin: -100px -150px;
}
#name {
    text-align: center;
    font-size: 100px;
    font-family: "Nunito", sans-serif;
    color: #707070;
    padding-top: 100px;
    border-bottom: #779f99 solid 5px;
}
#career {
    text-align: center;
    font-size: 35px;
    font-family: "Nunito", sans-serif;
    letter-spacing: 2px;
    color:#707070;
}
#line {
    border: none;
    border-top:#707070 solid 5px;
    margin-top: 40px;
}
#headshot {
    position: relative;
    z-index: 10;
    width: 200px;
    margin: 0 50px;
    border:solid #707070 3px;
}
.left-title {
    position: relative;
    z-index: 10;
    text-align: center;
    font-family: "Nunito", sans-serif;
    color:#779f99;
    font-size: 40px;
    padding-top: 20px;
}
.left {
    border-right: solid #707070 5px;
}
ul {
    list-style: square;
    font-size: 35px;
    color: #779f99;

}
.right-title {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    color:#707070;
}
.description {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
}
.dates {
    font-family: Arial, Helvetica, sans-serif;
    color:#707070;
    font-size: 15px;
}
#skills {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
}