/*Styles for my resume*/
/*General style*/
* {font-family: 'Open-Sans', Arial, sans-serif; 
    font-size: 1em; 
    color: #444;
    font-weight: 400;
}
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/*Banner name at top*/
#name {font-size: 3em; 
    color: #33485e; 
    text-transform: uppercase; 
    text-align: center;
    border-bottom: #33485e solid 1px;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}
/*Student title*/
#title {text-transform: uppercase; 
        font-weight: 600;
        font-size: 1.5em; 
        color: #33485e;
        text-align: center;
        margin-top: 20px;
    }
/*Content headings*/
.sectionheader {text-transform: uppercase; 
    font-size: 1.5em; 
    background-color: #33485e; 
    color: #fff;
    margin: 20px 0px 10px 0px;
    width: 70%;
    min-width: 300px;
}
/*Job titles*/
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}
/*Companies*/
.organization {
    font-size: 1.25em;
}
/*Dates*/
.date {
    font-style: italic;
    margin-top: 2px;
}
/*Chunks of text*/
.description {
    margin-bottom: 10px;
}
.menu {
   list-style: none;
   text-align: center;
   padding: 0px;
   margin: 0px;
}
/*Contact info*/
.menu li {
    display: inline-block;
}
#degrees {
    margin-top: 5px;
}
/*Skills list*/
#do {
    margin-top: 5px;
}
.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}